.UsersList {
    position: fixed;
    border: 1px dotted grey;
    height: 100vh;
}

.UsersList ul {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.UsersList li {
    padding: 5px;
    font-size: 16px;
    font-weight: lighter;
}
.UsersList a {
    color: #d5a6b1;

}